export KAFKA_BROKERS=localhost:9092
export SKELETON_PORT=8080
export DOCKER_REGISTRY=docker.io
export IMAGE=bborbe/github-update-go-watcher
export CLUSTER_CONTEXT=test
export OWNER=bborbe
export REPO_ALLOWLIST=
export STAGE=dev
